body {
      background-color: black;
}

h1 {
    color: pale pink;
    font-size: 1rem;
    text-decoration: underline;
}

h2 {
    color: greyish pale pink;
    font-size: 1rem;
    text-decoration: underline;
}

p {
    color: grey pink;
    font-size: 1rem;
    text-decoration: underline;
}
